* {
  margin: 0;
  padding: 0;
}

.App {
  font-family: 'Open Sans', sans-serif;
}

.italic {
  font-family: 'Indie Flower', cursive;
}

.section-3 {
background-color: rgb(110, 53, 163);
color: white;
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.end {
  font-family: 'Fredoka One', cursive;
  font-size: 45px;
}